---
title: 'Electrical Continuing Education | Ohms Electrical CE'
description: 'Renew your Texas electrical license easily with Ohms Electrical CE — the most affordable, convenient, and educational online continuing education platform for electricians. Complete state-approved CE courses anytime, anywhere.'
permalink: '/courses/electrical-continuing-education/'
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/privacy.css" />
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-310">
  <div class="cs-container">
    <span class="cs-int-title">Commercial Services</span>
    <div class="cs-breadcrumbs">
      <a href="/" class="cs-link">Home</a>
      <a
        href="/courses/electrical-continuing-education/"
        class="cs-link cs-active"
        >Commercial Services</a
      >
    </div>
  </div>
  <!--Background Image-->
  <picture class="cs-background">
    <!--Mobile Image-->
    <source media="(max-width: 600px)" srcset="{% getUrl
    "/assets/images/banner.webp" | resize({ width: 640, height: 600 }) | avif
    %}" type="image/avif"> <source media="(max-width: 600px)" srcset="{% getUrl
    "/assets/images/banner.webp" | resize({ width: 640, height: 600 }) | webp
    %}" type="image/webp"> <source media="(max-width: 600px)" srcset="{% getUrl
    "/assets/images/banner.webp" | resize({ width: 640, height: 600 }) | jpeg
    %}" type="image/jpeg">
    <!--Tablet Image-->
    <source media="(max-width: 1024px)" srcset="{% getUrl
    "/assets/images/banner.webp" | resize({ width: 2048, height: 942 }) | avif
    %}" type="image/avif"> <source media="(max-width: 1024px)" srcset="{% getUrl
    "/assets/images/banner.webp" | resize({ width: 2048, height: 942 }) | webp
    %}" type="image/webp"> <source media="(max-width: 1024px)" srcset="{% getUrl
    "/assets/images/banner.webp" | resize({ width: 2048, height: 942 }) | jpeg
    %}" type="image/jpeg">
    <!--Desktop Image-->
    <source media="(min-width: 1024px)" srcset="{% getUrl
    "/assets/images/banner.webp" | resize({ width: 2500, height: 628 }) | avif
    %}" type="image/avif"> <source media="(min-width: 1024px)" srcset="{% getUrl
    "/assets/images/banner.webp" | resize({ width: 2500, height: 628 }) | webp
    %}" type="image/webp"> <source media="(min-width: 1024px)" srcset="{% getUrl
    "/assets/images/banner.webp" | resize({ width: 2500, height: 628 }) | jpeg
    %}" type="image/jpeg"> <img src="{% getUrl "/assets/images/banner.webp" |
    resize({ width: 2500, height: 628 }) | jpeg %}" alt="library" width="1920"
    height="482" loading="eager" decoding="async">
  </picture>
</div>

<!-- ============================================ -->
<!--                 Content Page                 -->
<!-- ============================================ -->

<!-- ============================================ 
    This Stitch is used for content heavy interior pages
    that have no design or layout.  Often times these are 
    content silos where you talk extensively about a topic
    to educate your visitors and rank on Google for the 
    content.  These are great for pages that have a TON
    of content.  Design isn't important here, it's all 
    about making the content accessible and easy to read.
================================================= -->

<section id="content-page-1399">
  <div class="cs-container">
    <div class="cs-image-group">
      <div class="cs-flex">
        <picture class="cs-background">
          <!--Mobile Image-->
          <source media="(max-width: 600px)" srcset="{% getUrl
          "/assets/images/banner.webp" %}"/>
          <!--Tablet and above Image-->
          <source media="(min-width: 601px)" srcset=" {% getUrl
          "/assets/images/banner.webp" %}" />
          <img
            loading="lazy"
            decoding="async"
            src="/assets/images/banner.webp"
            alt="people"
            width="542"
            height="728"
          />
        </picture>
      </div>
      <ul class="cs-card-group">
        <li class="cs-item">
          <h3 class="cs-h3">
            <img
              class="cs-h3-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/svgs/online-learning.svg"
              alt="icon"
              width="32"
              height="32"
            />
            Course Description
          </h3>
          <p class="cs-item-text">
            This course offers a complete guide to the National Electrical Code
            (NEC) and meets all required Texas state regulations (TDLR). It is
            designed for electricians seeking to renew their license online and
            qualifies for license renewal as an Electrical Apprentice,
            Journeyman Electrician, Master Electrician, Journeyman Sign
            Electrician, Master Sign Electrician, Residential Wireman, or
            Maintenance Electrician. Gain the knowledge and credit you need
            quickly, conveniently, and in full compliance with state
            requirements.<br /><br />
            -One (1) hour of instruction regarding Rules/Laws (Recently
            Updated)<br />
            -Two (2) hours of instruction regarding National Electric Code
            <br />
            -One (1) hour of instruction regarding Safety NFPA 70E
          </p>
        </li>
        <li class="cs-item">
          <h3 class="cs-h3">
            <img
              class="cs-h3-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/circle-check.svg"
              alt="icon"
              width="32"
              height="32"
            />
            Texas State Requirements
          </h3>
          <p class="cs-item-text">
            <strong
              >Texas Electrician License Renewal and Continuing Education
              Requirements</strong
            ><br /><br />

            For each renewal, an electrical apprentice, journeyman electrician,
            master electrician, journeyman sign electrician, master sign
            electrician, residential wireman, or maintenance electrician must
            complete four hours of continuing education in:<br /><br />

            The National Electrical Code, or the current version of the National
            Electrical Code, as approved by the National Fire Protection
            Association (NFPA); State law and rules that regulate the conduct of
            licensees; and Safety as defined in the National Fire Protection
            Association (NFPA) 70E.<br /><br />
            <strong>Additional Information Please Contact:</strong>
            <br /><br />
            Texas Department of Licensing and Regulation<br />
            P.O. Box 12157<br />
            Austin, Texas 78711<br />
            <br />
            Telephone: (512) 463-6599<br />
            Toll-Free (in Texas): 800-803-9202<br />
            Fax: (512) 475-2871<br />
            Relay Texas-TDD: (800) 735-2989<br />
            <br />
            or visit TDLR website at:
            <a href="https://www.tdlr.texas.gov/"
              >https://www.tdlr.texas.gov/</a
            >
          </p>
        </li>
      </ul>
    </div>
    <div class="cs-content">
      <h1 class="cs-title">Test</h1>
      <p class="cs-info">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
        quaerat voluptatem ducimus cum incidunt, officia corrupti reprehenderit
        ad ex ratione praesentium laboriosam quibusdam voluptates! Quisquam
        laborum fuga perspiciatis labore adipisci.
      </p>
      <h2>Test</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque saepe,
        autem laborum accusamus aperiam culpa, reiciendis quidem dicta aliquid
        eos eveniet illum aut veniam consectetur tempore reprehenderit officiis
        corporis exercitationem?
      </p>
    </div>
  </div>
  <div class="cs-bubbles" aria-hidden="true"></div>
</section>
{% endblock %}
